@charset "UTF-8";

  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

  @font-face {
    font-family: New York;
    src: url();
    font-weight: normal;
  }

  @font-face {
    font-family: New York city;
    src: url(fontes/new_york_city/Newyorkcity.ttf);
    
}

:root{
    --cor0: #F29BDB;
    --cor1: #ED4C93;
    --cor2: #FFE9D1;
    --cor3: #E79A9A;
    --cor4: #FAD6E2;
    --cor5: #49192e;

    --fonte-pradao: arial, verdana, helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
    --fonte-newyork: 'New York' ;
    --fonte-newyorkcity: 'New York city';
}

* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(102, 67, 73);
    font-family: var(--fonte-pradao);

}

a.externo::after{
    content: '\00A0\1F517';
}

header{
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor5));
    background-color: var(--cor3);
    min-height: 150px;
    text-align: center;
    padding: 40px;
    

}


header > h1 {
    color: black;
    font-family: var(--fonte-newyork);
    font-size: 5em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 3px plum;
}

header > p {
    font-family: var(--fonte-newyork);
    font-size: 1.2em;
    color: white;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    margin-bottom: 30px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.137);
    
}


nav{
    background-color: var(--cor1);
    padding: 10px;
    box-shadow: 3px 7px 9px rgba(0, 0, 0, 0.329);
    font-family: 'Times New Roman', Times, serif;
}

nav > a {
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: 10px;
    font-weight: bold;
    transition-duration: 0.1s;

    
}

nav > a:hover {
    background-color: var(--cor1);
    
}


main{
    max-width: 1000px;
    min-width: 300px;
    padding: 20px;
    margin: auto;
    margin-bottom: 30px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.295);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

main h1{
    color: var(--cor1);
    font-family: var(--fonte-newyork);
    font-weight: normal;
}

body{
    color: hsl(60, 21%, 32%);
}

main h2{
    font-family: var(--fonte-newyork);
    font-weight: normal;
    color: #F29BDB;
}

main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1.1em;
    line-height: 2.5em;
}


main strong{
    color: var(black);
    font-weight: bold;
    padding: 2px 6p;
}

main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor4);
    padding: 1px 2px;
}

main a:hover{
    text-decoration: underline;
    color: var(--cor4);
}

main img{
    width: 100%;
    margin: center;
    padding: 1.5em;
}
main img.pequena {
    width: 500px;
    display: block;
    margin: auto;
}

main img.grande{
    width: 800px;
    display: block;
    margin: auto;
}

div.video{
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 57%;
    position: relative;
}

div.video > iframe {

    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;

}

aside{
    background-color: var(--cor0);
    padding: 10px;
    border-radius: 10px;
}


aside h3{
    background-color:  var(--cor1);
    color: white;
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.164);
}

aside > ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;

}

footer{
    background-color: var(--cor3);
    color: white;
    text-align: center;
    font-size: 0.5em;
    padding: 5px;

}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color: var(--cor0);
}